
.pg-footer {
  font-family: 'Roboto', sans-serif;
}
.footer {
  background: rgb(9,49,235);
  background: -moz-linear-gradient(150deg, rgba(9,49,235,1) 0%, rgba(111,33,135,1) 30%, rgba(66,17,82,1) 54%, rgba(0,0,0,1) 87%);
  background: -webkit-linear-gradient(150deg, rgba(9,49,235,1) 0%, rgba(111,33,135,1) 30%, rgba(66,17,82,1) 54%, rgba(0,0,0,1) 87%);
  background: linear-gradient(150deg, rgba(9,49,235,1) 0%, rgba(111,33,135,1) 30%, rgba(66,17,82,1) 54%, rgba(0,0,0,1) 87%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0931eb",endColorstr="#000000",GradientType=1); 
    color: #fff;
}
.footer_wave_svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.custom_shape_divider_top_1688990060 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.footer_wave_path {
    fill: #fffff2;
}

.footer_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer_content_column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer_content_column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer_logo_link {
    display: inline-block;
}
.footer_menu {
    margin-top: 30px;
}

.footer_menu_name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer_menu_list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer_menu_list li {
    margin-top: 5px;
}

.footer_call_to_action_description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer_call_to_action_button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer_call_to_action_button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer_call_to_action {
    margin-top: 30px;
}
.footer_call_to_action_title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer_call_to_action_link_wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer_call_to_action_link_wrapper a {
    color: #fff;
    text-decoration: none;
}

.hidden_link_text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}


.footer_copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer_copyright_wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer_copyright_text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer_copyright_link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer_content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer_wave_svg {
      height: 50px;
  }

  .footer_content_column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}
